<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" th:href="@{/img/favicon.png}"></link> 

    <title> Agenda Sysmap </title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
 <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Cadastro de Usuários - Agenda Sysmap</h3>
      </div>

      <div class="jumbotron">
       	<div class="row">
	       	<div class="col-md-12" th:if="${sucesso != null}">
				<div class="alert alert-success">
					<span th:text="${sucesso}"></span>
				</div>
			</div>
		
			<div class="col-md-12" th:if="${erro != null}">
				<div class="alert alert-danger">
					<span th:text="${erro}"></span>
				</div>
			</div>
       		<form th:action="@{/usuarios/cadastro/salvar}" th:object="${usuario}" method="post">
       			<input type="hidden" th:field="*{id}"></input>
				<div class="col-md-8">
					<div class="form-group">
						<label for="nome">Nome</label> 
						<input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome do usuário" required th:field="*{nome}"></input>
					</div>
				</div>
				<div class="col-md-4">
							<div class="form-group">
								<label for="perfil">Perfil</label>

								<!-- <input type="text"
									class="form-control" id="estado" name="estado"
									placeholder="Informe o estado" th:field="*{estado}" required="required"></input> -->

								<select class="form-control" name="perfil" id="perfil"
									placeholder="Informe o perfil" th:field="*{perfil}"
									required="required">
									<option value="  ">Selecione o perfil de usuário</option>
									<option value="LIDER">Lider</option>
									<option value="DESENVOLVEDOR">Desenvolvedor</option>
								</select>
							</div>
						</div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="equipe">Equipe</label> <select
								class="form-control" th:field="*{equipe}">
								<option value="">Selecione a Equipe</option>
								<option th:each="equ : ${equipes}" th:value="${equ.id}"
										th:text="${equ.descricao}" />
						</select>
					</div>
				</div>	
			<div class="col-md-6">
					<button type="submit" class="btn btn-success">
					<span class="glyphicon glyphicon-ok"></span> Salvar
					</button>
				</div>
			<div class="col-md-6">
       			<a th:href="@{/selecionaLider}" class="btn btn-danger"><span
								class="glyphicon glyphicon-remove-sign"></span> Cancelar </a>
       		</div>
			</form>
       	</div>
      </div>
    </div>
  </body>
</html>